body{
	background-color: pink;
	font-family: copperplate;

}



header{
	background-color:
	padding: 0px 15px 0px 15px;
	color: blue;
}

header h1{

	width: 50%;
	margin: 0% 25%;
	
}

img{
	margin: 0% 10%;
	width: 80%;
}

nav ul{
	display: inline;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	background-color: black;
	color: white;
	width: 23%;
	margin: 

	
	padding: 10px;
}

nav ul li a {
	color: white;

}

div .row{

}

.col{
	float: left;
	background: #777;
	padding: 0px;
	margin: 1%;
	width: 23%;

}

footer {
	clear: both;
}







